= simple_form_for(@sample) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :content
    = f.input :quantity
    = f.input :price

  .form-actions
    = f.button :submit
